.idea/
first-gan/models/
first-gan/runs/
dc-gan/__pycache__/
dc-gan/runs/
dc-gan/dataset/
dc-gan/models/
w-gan/__pycache__/
w-gan/runs/
w-gan/dataset/
w-gan/models/
w-gan-gp/__pycache__/
w-gan-gp/runs/
w-gan-gp/dataset/
w-gan-gp/models/